

@import url(navi.css);
@import url(forms.css);
@import url(tables.css);
@import url(homepage.css);
@import url(gallery.css);
@import url(portfolio.css);
@import url(featured_slide.css);

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#979797;
	background-color:#333333;
	}

img{margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left{float:left; /*width: 570px;*/}
.fl_right{/*float:right;*/}
.fl_middle {float: left; margin: 5px 10px 0px 35px; width: 200px; }

.fl_middle img {float: left; padding-right: 20px;}
.fl_middle p {font-size:12px;}

.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D8D8D8; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	text-align:left;
	}
	
div.footer2 {
	background-color: #003F62;
}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:16px;
	font-weight:normal;
	font-style:italic;
	line-height:normal;
	color:#333333;
	background-color:transparent;
	}

.row1, .row2{color:#979797; background-color:#BCCCD9;}
.row3{color: white; background-color:#FFFFFF; border-top:1px solid #510000; /*border-bottom:5px solid #BCCCD9;*/}
.row3 a{color:#003F62; /*background-color:#FFFFFF;*/}
.row4{padding:30px 0; background-color:#003F62; border-top: 10px solid #BCCCD9;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{padding:25px 0 30px 0;}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1{font-size:27px; font-variant:small-caps; font-style:normal;}
#header h1 a{color:#003F62; background-color:#BCCCD9; font-family: Times New Roman; /*font-family: PT Sans Narrow;*/}

#header p{font-size:12px; font-family: Times New Roman; /*font-family: PT Sans Narrow;*/}
#header p a{color:#510000; background-color:#BCCCD9;}

#header .fl_left, #header .fl_right{margin-bottom:15px;}
#header .fl_right{margin-top:13px;}


#header .fl_right p{
float: left;
margin: 16px 1px 0px 0px;
color: #f9ca00;
font-size: 16px;
text-shadow: 0 0 6px rgba(0,0,0,0.5);
font-family: PT Sans Narrow;
}

/* ----------------------------------------------Content-------------------------------------*/

#container{padding:10px 0; line-height:1.6em;}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	background-color:#FFFFFF;
	margin:0 0 15px 0;
	padding:0 0 10px 0;
	border-bottom:1px solid #D8D8D8;
	}

#container p.leader {
	font-size:20px;
color: #003F62;
/*font-weight: bold;*/
font-style: italic;
}

#container p {
	color: #808080;
    font-size: 14px;
}

#container li {
	color: #808080;
    font-size: 14px;
}
	
	
#content p.leader {
	font-size:20px;
color: #003F62;
/*font-weight: bold;*/
font-style: italic;
}	
	
#container .readmore{
	display:block;
	width:100%;
	text-align:right;
	line-height:normal;

	}

#container .readmore a {
	font-size: 12px;
font-style: italic;
}	
	
#content{
	display:block;
	float:left;
	/*width:630px;*/
	}

#content p {
	font-size: 14px;
    color: #808080;
}
		
#content p span a {
	font-size: 13px;
font-style: italic;
color: #003F62;
padding-left: 300px;
}	

#content p.blue {
	color: #003F62;
}


/* ------Comments-----*/

#comments{margin-bottom:40px;}

#comments .commentlist{margin:0; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#896C50; background-color:#F7F7F7;}

#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#896C50; background-color:#E8E8E8;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:30px;
	}

#column .holder h2.title {
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	text-transform:none;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}



	

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:0;
	list-style:none;
	color:#666666;
	background-color:#F7F7F7;
	}

#column #featured a{
	color:#896C50;
	background-color:#F7F7F7;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#666666;
	background-color:#F7F7F7;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	}

#column #featured li h2{
	margin:0;
	padding:0 0 8px 0;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#container #column .readmore a{
	display:block;
	width:100%;
	margin-top:15px;
	height:auto;
	padding-left:0;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	background:none;
	}

#column .latestnews{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}

#column .latestnews li{
	display:block;
	width:100%;
	height:99px;
	margin:0 0 11px 0;
	padding:0 0 21px 0;
	border-bottom:1px dotted #C7C5C8;
	overflow:hidden;
	}

#column .latestnews li.last, #column .last{
	margin-bottom:0;
	}

#column .latestnews p{
	display:inline;
	}

#column .latestnews img{
	float:left;
	margin:0 10px 0 0;
	padding:4px;
	border:1px solid #C7C5C8;
	clear:left;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{line-height:1.6em; background:url("../images/footer_bg.gif") 640px 0 repeat-y;}

#footer a{
	color:#F9CA00;
	background-color:#003F62;
	}

#footer h2{
	color:#FFFFFF;
	background-color:#003F62;
	/*font-weight:bold;*/
	font-style: italic;
	font-size: 20px;
	}

#footer ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#footer address{
	font-style:normal;
	}

#footer .footbox{
	display:block;
	float:left;
	width:350px;
	margin-right:180px;
	line-height: 25px;
	}
	
#footer .footbox2{
	display:block;
	float:left;
	width:100px;
	margin-right:30px;
	padding-top: 40px;
	}	

#footer .footbox2 img{

	padding-top: 4px;
	padding-left: 36px;
}
	
	

#footer #social{
	margin-bottom:20px;
	}

#footer #social ul{
	margin:20px 0 0 0;
	}

#footer #social li{
	display:inline;
	margin-right:15px;
	}

#footer .last{margin:0;}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:15px 0;
	border-top:1px solid white;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#copyright, #copyright a{
	/*color:#979797;*/
	/*background-color:#333333;*/
	}
	
	
#top_featured p {
	font-size:14px;
	color: gray;
}	

#top_featured a {
	font-size:12px;
	font-style: italic;
}

.wb img {
	border-top: 4px solid #BCCCD9;
}	
	
.gerb3 {
	float: left;
margin-right: 55px;
margin-left: 13px;

}	




.gerb3 img {
	padding-left: 22px;
padding-top: 3px;

}	
	
.gerb2 img {
	padding-left: 33px;
	padding-top: 3px;
}	
	
	
.holder ul li a {
	font-size: 12px;
    color: #808080;
	font-weight: bold;
}

.holder ul li  {
	font-size: 12px;
    color: #808080;
	font-weight: bold;
}

.holder p.bronir  {
	font-size: 12px;
    color: #808080;
	font-weight: bold;
	
}

	
.holder   h2.title2 {
	font-size: 15px;

font-style: italic;
color: #808080;
}
	
	
#container h2.title1 {
	font-size: 16px;
/*font-weight: bold;*/
font-style: italic;
color: #003F62;
}	
	
.holder p {
font-size: 12px !important;
color: #003F62 !important;
}



.holder p span {
	font-weight: bold;
}

.holder p.readmore {
	line-height: normal;
    text-align: right;
}


.department {
	list-style-type: none;
	padding: 0px;
}

.department li a {
	font-size: 18px !important;
	color: #808080;
}



















	