<?php
$this->setLimit ( 'all' );
$slides = $this->getSlider ();
if (is_array ( $slides ) && count ( $slides ) > 0) {
	echo '<div id="featured_slide">
<ul>';
	foreach ( $slides as $row ) {
				$image = $this->getItemImage ( $row->id );
		if ($image) {
			echo '<li><img src="' . $image->path . '/' . $image->file . '" alt="" />
<div class="panel-overlay">
<h2>'.$row->desc.'</h2>

</div>
</li>';
		}
	}
	echo '</ul>
</div>';
}



