body, html { margin: 0px; padding: 0 0px; height:100%; color: #2c2c2c; min-width:1000px;font: normal 12px/160% Tahoma, Verdana, Arial, Georgia, sans-serif; }

body{background:#FFF;}

.fontsize-normal,.fontsize-normal p {font-size:16px; line-height:20px;}
.fontsize-small,.fontsize-small p {font-size:14px; line-height:18px;}
.fontsize-big,.fontsize-big p {font-size:22px; line-height:26px;}

.sans-serif, p.sans-serif{font-family:Tahoma,sans-serif;}
.serif, p.serif{font-family:"Times New Roman",serif;}

.spacing-small, p.spacing-small{letter-spacing:0;}
.spacing-normal, p.spacing-normal{letter-spacing:2px;}
.spacing-big, p.spacing-big{letter-spacing:5px;}

/*Anyeea oeyiiua i?aii?aaaeaiey*/
h1,h2,h3,h4,h5,h6,p,img,table,ul,ol,form,li,fieldset {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-family: inherit; list-style: none;}
input {outline:none;}
.color1{background:#FFF; color:#000;}
.color2{background:#000; color:#FFF;}
.color3{background:#9DD1FF; color:#063462;}
.color4{background:#F7F3D6; color:#4D4B43;}
.color5{background:#3B2716; color:#A9E44D;}

.color1 a {color: #000; outline:none;}
.color2 a {color: #FFF; outline:none;}
.color3 a {color: #063462; outline:none;}
.color4 a {color: #4D4B43; outline:none;}
.color5 a {color: #A9E44D; outline:none;}

p {margin: 10px 0;}

h1,h2,h3,h4 { margin: 20px 0px; font-size: 190%; line-height:220%px; font-weight:normal; }

h2 {font-size: 180%;  margin: 15px 0; line-height:190%;}
h3 {font-size: 140%px; line-height: 170%; margin:10px 0; }
h4 {font-size: 120%px; line-height: 140%px;  margin: 5px 0; }

table td,table th{padding:3px 5px;}
ul, ol {margin:10px 0 10px 30px;}

ul  li{list-style:circle;}
ul  li li{list-style:disc;}
ul  li li li{list-style:square;}
ul  li li li li{list-style:circle;}
ol  li {list-style:decimal;}

.flash-player{position:absolute;}

.special-settings {font-size:16px; line-height:24px; letter-spacing:0; font-family:Tahoma, sans-serif; height:50px; background-color:#f4f4f4; width:980px; margin:0 auto; position:fixed; top:0; z-index:1000; color:#000; text-shadow: #FFF 1px 1px 0px;
  -moz-border-radius: 0 0 7px 7px;-khtml-border-radius: 0 0 7px 7px;-webkit-border-radius: 0 0 7px 7px;   border-radius: 0 0 7px 7px;  -pie-poll:true;  zoom:1;
  border: 1px solid #000; border-width: 0 1px 1px 1px;
}

.wrap{width:980px;}



* html .special-settings{position:absolute;}
.color1 .special-settings{border-color:#000;}
.color2 .special-settings{border-color:#FFF;}
.color3 .special-settings{border-color:#063462;}
.color4 .special-settings{border-color:#4D4B43;}
.color5 .special-settings{border-color:#A9E44D;}

.color1 .special-settings{background-color:#f4f4f4; color:#000; text-shadow: #FFF 1px 1px 0px;}
.color2 .special-settings{background-color:#000; color:#FFF;text-shadow: #000 1px 1px 0px;}
.color3 .special-settings{background-color:#7DB7E7; color:#063462;text-shadow: none;}
.color4 .special-settings{background-color:#F7F3D6; color:#4D4B43;text-shadow: none;}
.color5 .special-settings{background-color:#3B2716; color:#A9E44D;text-shadow: none;}

.color1 .a-colors a{border-color:#000;}
.color2 .a-colors a{border-color:#FFF;}
.color3 .a-colors a{border-color:#063462;}
.color4 .a-colors a{border-color:#4D4B43;}
.color5 .a-colors a{border-color:#A9E44D;}


.special-settings dl,
.special-settings p{display:inline; float:left;margin: 12px 0 12px 20px; font-size:18px;}
.special-settings dl a, .special-settings .popped a{display:inline-block; text-decoration:none;  text-shadow: none;
  -moz-border-radius: 4px;-khtml-border-radius: 4px;-webkit-border-radius: 4px;   border-radius: 4px; behavior: url(dstyles/PIE.htc); zoom:1; position:relative; -pie-poll:true; 
}
.special-settings dl dt{display:inline; margin:0; }
.special-settings dl dd{display:inline; margin:0;}

.special-settings .popped{display:none; position:absolute; width:950px;left:-1px; padding:10px 15px; top:40px; border:1px solid ;border-width: 0 1px 1px 1px;}
.special-settings .popped p{display:block; float:none;}
.special-settings .popped a{padding:2px 10px; border:1px solid; vertical-align:middle;}
.special-settings .popped .saveit {text-align:right;}
.special-settings .popped .saveit a{display:inline-block;padding:10px; border-width:2px; font-weight:bold; font-size:120%;-moz-border-radius: 0;-khtml-border-radius: 0;-webkit-border-radius: 0;   border-radius: 0; behavior: none; }

#sans-serif{font-family:Tahoma, sans-serif;}
#serif{font-family:"Times New Roman", serif;}

#spacing-small{letter-spacing:0;}
#spacing-normal{letter-spacing:2px;}
#spacing-big{letter-spacing:5px;}

.sans-serif.color1 #sans-serif, .serif.color1 #serif,
.color1.spacing-small #spacing-small,
.color1.spacing-normal #spacing-normal,
.color1.spacing-big #spacing-big,
.color1 .special-settings .popped .saveit a
{background-color:#000; border:1px solid #000; color:#FFF;}

.sans-serif.color2 #sans-serif, .serif.color2 #serif,
.color2.spacing-small #spacing-small,
.color2.spacing-normal #spacing-normal,
.color2.spacing-big #spacing-big,
.color2 .special-settings .popped .saveit a{background-color:#FFF; border:1px solid #FFF; color:#000;}

.sans-serif.color3 #sans-serif, .serif.color3 #serif,
.color3.spacing-small #spacing-small,
.color3.spacing-normal #spacing-normal,
.color3.spacing-big #spacing-big,
.color3 .special-settings .popped .saveit a{background-color:#063462; border:1px solid #063462; color:#7DB7E7;}

.sans-serif.color4 #sans-serif, .serif.color4 #serif,
.color4.spacing-small #spacing-small,
.color4.spacing-normal #spacing-normal,
.color4.spacing-big #spacing-big,
.color4 .special-settings .popped .saveit a{background-color:#4D4B43; border:1px solid #4D4B43; color:#F7F3D6;}

.sans-serif.color5 #sans-serif, .serif.color5 #serif,
.color5.spacing-small #spacing-small,
.color5.spacing-normal #spacing-normal,
.color5.spacing-big #spacing-big,
.color5 .special-settings .popped .saveit a{background-color:#A9E44D; border:1px solid #A9E44D; color:#3B2716;}

.choose-colors{margin:10px 0;}
.choose-colors li{list-style:none;}
.special-settings .popped .choose-colors li a{display:block; padding:10px 15px; font-weight:bold; font-size:110%;
  -moz-border-radius: 0;-khtml-border-radius: 0;-webkit-border-radius: 0;   border-radius: 0; behavior: none; border:5px solid  }

#color1 a{border-color:#000; color:#000; background-color:#FFF;}  
#color2 a{border-color:#FFF; color:#FFF; background-color:#000;}  
#color3 a{border-color:#063462; color:#063462; background-color:#9DD1FF;}  
#color4 a{border-color:#4D4B43; color:#4D4B43; background-color:#F7F3D6;}  
#color5 a{border-color:#A9E44D; color:#A9E44D; background-color:#3B2716;}  


.color1 .special-settings .popped{ background-color:#f4f4f4; border-color:#000; }
.color2 .special-settings .popped{background-color:#000; color:#FFF;}
.color3 .special-settings .popped{background-color:#7DB7E7; color:#063462; }
.color4 .special-settings .popped{background-color:#F7F3D6; color:#4D4B43; }
.color5 .special-settings .popped{background-color:#3B2716; color:#A9E44D; }

.a-fontsize a { text-decoration:none;  text-align:center; display:inline-block; width:22px; height:22px;  vertical-align:top;}
.color2 .a-fontsize a {color:#FFF; }

.a-fontsize-small, p.a-fontsize-small  {font-size:15px;}
.a-fontsize-normal, p.a-fontsize-normal {font-size:20px;}
.a-fontsize-big, p.a-fontsize-big {font-size:24px;}

.fontsize-big .a-fontsize-big,
.fontsize-small .a-fontsize-small,
.fontsize-normal .a-fontsize-normal {background-color:#000; color:#FFF; border:1px solid #000;}

.a-images a {padding:0 5px;  border:1px solid #000;}
 
.color1 .a-images a {border-color:#000;}
.color2 .a-images a {border-color:#FFF;}
.color3 .a-images a {border-color:#063462;}
.color4 .a-images a {border-color:#4D4B43;}
.color5 .a-images a {border-color:#A9E44D;}
 
.imagesoff .a-images a .on{display:none;}
.imageson .a-images a .off{display:none;}

.color2.fontsize-big .a-fontsize-big,
.color2.fontsize-small .a-fontsize-small,
.color2.fontsize-normal .a-fontsize-normal,
.color2 .a-images a,
p.color2 ,
.color2 .lpicture img
 {background-color:#000; color:#FFF; border:1px solid #FFF;}

.color3.fontsize-big .a-fontsize-big,
.color3.fontsize-small .a-fontsize-small,
.color3.fontsize-normal .a-fontsize-normal,
.color3 .a-images a,
p.color3 , 
.color3 .lpicture img
 {background-color:#9DD1FF; color:#063462; border:1px solid #063462;}

.color4.fontsize-big .a-fontsize-big,
.color4.fontsize-small .a-fontsize-small,
.color4.fontsize-normal .a-fontsize-normal,
.color4 .a-images a,
p.color4 , 
.color4 .lpicture img
 {background-color:#F7F3D6; color:#4D4B43; border:1px solid #4D4B43;}

.color5.fontsize-big .a-fontsize-big,
.color5.fontsize-small .a-fontsize-small,
.color5.fontsize-normal .a-fontsize-normal,
.color5 .a-images a,
p.color5 , 
.color5 .lpicture img
 {background-color:#3B2716; color:#A9E44D; border:1px solid #A9E44D;}

 .imagesoff img{display:none;} 

 
.a-colors a{display:inline-block; width:22px; height:22px;border:1px solid #000; text-align:center; font-weight:bold;}
.color3 .a-colors a{border-color:#FFF;}
.a-colors .a-color1{color:#000; background-color:#FFF;}
.a-colors .a-color2{color:#FFF; background-color:#000;}
.a-colors .a-color3{color:#195183; background-color:#9DD1FF;}
.color3 .a-images a,
.color3 .picture img, .color3 .lpicture img {border:1px solid #195183;}

  .color1 .shorties .shorty, .color1 .faq .item {border-bottom:1px solid #000;}
  .color2 .shorties .shorty, .color2 .faq .item {border-bottom:1px solid #FFF;}
  .color3 .shorties .shorty, .color3 .faq .item {border-bottom:1px solid #195183;}    
  .color4 .shorties .shorty, .color4 .faq .item {border-bottom:1px solid #4D4B43;}    
  .color5 .shorties .shorty, .color5 .faq .item {border-bottom:1px solid #A9E44D;}    

.top_search .text{width:450px; height:auto; font-size:inherit; line-height:inherit;}  
.color1 .top_search .text{border:2px solid #000;}  
.color2 .top_search .text{border:2px solid #999;}  
.color3 .top_search .text{border:2px solid #063462;}  
.color4 .top_search .text{border:2px solid #4D4B43;}  
.color5 .top_search .text{border:2px solid #A9E44D;}  

.header { position:relative; min-width:1000px; max-width:1200px; margin:0 auto; background:none; padding-top:65px;}
.header h1{position:absolute; top:60px;}



#middle {clear:both; margin:0 auto 20px; clear:both;  padding: 0 10px; min-width:910px; max-width:1110px; }
#content_wrapper {margin:15px 0;}
#content_wrapper #content{margin:0; }
 #left_column{ margin:15px 0; overflow: hidden;}
 #right_column{/* float:left; width:265px;  margin-left:-265px;  */ margin:15px 0; display:none;}

.fancy_list{margin: 15px 0;}
  .fancy_list li{list-style:none; padding-left:20px; background:url(../pic/icons/marker.png) 0 6px no-repeat; margin:10px 0;}
  .fancy_list li ul{margin:5px 0 5px 20px;}
  .fancy_list li ul li{padding:0; list-style:circle; background:none; margin:0;}
  .fancy_list li ul li li{ list-style:disc;}

.pagination{margin:35px 0; text-align:center;}
        .pagination a{display:inline-block;   padding: 1px 5px; text-decoration:none;}
        .pagination a.current{ border:none; border:1px solid ; cursor:text; text-decoration:none; }

.faq{overflow:hidden;}
        .faq .item{margin:15px 0 -1px 0; padding-bottom:10px;}
        .faq .item .quest {margin:5px 0;}
                .faq .item .quest .date{}
                .faq .item .quest .autor{}
                .faq .item .text{margin:5px 0;}
                .faq .item .read_answer{border-bottom:1px dashed ; text-decoration:none;}
                .faq .item .read_answer:hover{border:none;}
                .faq .item .answer{margin:10px 15px;}
  
.page_content{ margin: 15px 0;}

.lPicture,.lpicture{float: left; margin-right: 15px;}

.date{font-size:90%; }

.shorties{margin:15px 0;}
  .shorties .shorty{margin:15px 0; padding-bottom:15px; overflow:hidden; zoom:1;}

  .shorties .shorty .text{ overflow:hidden; zoom:1;}
  .shorties .shorty .title{/*font-size:14px;  font-weight:bold;margin:5px 0; */}
  .shorties .shorty .title a{ /*text-decoration:none; */}

  
  
  .lcol, .rcol{float:none; width:auto; margin:10px 0;}
  
.main_shorties{margin:15px 0;}
  .main_shorties .shorty{margin:10px 0; }
  .main_shorties .shorty .text{margin:2px 0;}

.nav{margin:15px 0;}
  .nav li{list-style:none; display:inline;margin:0 10px 0 0; }
  .nav li a{text-decoration:none; display:inline-block;  font-size:150%; padding:3px 10px;   margin:3px 0;  -moz-border-radius: 5px;-khtml-border-radius: 10px;-webkit-border-radius:10px;   border-radius: 5px;   }
  .nav li a:hover{text-decoration:underline;}

    #nav a.current, .lnav a.current{-moz-border-radius: 5px;- khtml-border-radius: 5px; -webkit-border-radius:5px;   border-radius: 5px}
    .color1 .nav a.current, .color1 .lnav a.current{background-color:#000; border:1px solid #000; color:#FFF;}
    .color2 .nav a.current, .color2 .lnav a.current{background-color:#FFF; border:1px solid #FFF; color:#000;}
    .color3 .nav a.current, .color3 .lnav a.current{background-color:#063462; border:1px solid #063462; color:#7DB7E7;}
    .color4 .nav a.current, .color4 .lnav a.current{background-color:#4D4B43; border:1px solid #4D4B43; color:#F7F3D6;}
    .color5 .nav a.current, .color5 .lnav a.current{background-color:#A9E44D; border:1px solid #A9E44D; color:#3B2716;}

  .nav li ul {margin:5px 0 5px 20px; }
  .nav li li {list-style:circle; padding:0; font-size:11px; margin:0;}
  .nav li li li{list-style:circle;}

  ul.lnav{float:none; width:auto; margin:10px 0;font-size:120%; overflow:hidden;}
  .lnav li{display:inline; margin-right:10px; margin-left:-1px; }
  .lnav li ul{display:block; margin-left:40px; border-left:1px solid; padding-left:10px;}
  .lnav li a{text-decoration:none; display:inline-block; margin:3px 0;  padding:3px 10px; ;  border-left:1px solid; }
  .lnav li a:hover{text-decoration:underline ;}
  .color1 .lnav a{color: #000; }
  .color2 .lnav a{color: #FFF; }
  .color3 .lnav a{color: #063462;}
  .color4 .lnav a{color: #4D4B43;} 
  .color5 .lnav a{color: #A9E44D; } 
  
  ul.lnav > li > a{font-size:100%;}
  ul.lnav > li > ul > li > a{font-size:95%;}
  ul.lnav > li > ul > li > ul > li{font-size:100%;}
  ul.lnav > li > ul > li > ul > li > a{font-size:80%;}
  ul.lnav > li > ul, ul.lnav > li > ul >li> ul{margin-left:40px;}
  ul.lnav li.current > a,ul.lnav li > a:hover{text-decoration:underline;}
  .lnav.level2{margin:5px 0 5px 40px; font-size:95%;}
  .lnav.level3{margin:5px 0 5px 80px; font-size:80%;}
  
.baner{margin:13px 0; padding:2px; float: left; margin-right: 10px;}
.baner img{border:1px solid #999;}
  

.more{font-size:90%; color:#919191;}

  
.form{}
  .form label, .form .label {display: block; margin: 10px 0; width:585px;}
  .form fieldset{margin:0}
  .form .name{display: block;}
  .form .r{color: #C00;}
    .form label input,.form label textarea,.form  select{font-size:inherit; color:inherit; width: 580px; vertical-align: middle; outline:none;}
    .color1 .form  input,.color1 .form  textarea,.color1 .form  select{border:1px solid #000; background-color:#FFF;}
    .color2 .form  input,.color2 .form  textarea,.color2 .form  select  {border:1px solid #FFF; background-color:#000;} 
    .color3 .form  input,.color3 .form  textarea,.color3 .form  select  {border:1px solid #195183; background-color:#9DD1FF;}  
    .color4 .form  input,.color4 .form  textarea,.color4 .form  select  {border:1px solid #4D4B43; background-color:#F7F3D6;}  
    .color5 .form  input,.color5 .form  textarea,.color5 .form  select  {border:1px solid #A9E44D; background-color:#3B2716;}  

    .form label textarea{height:150px;}
    .form option{  outline:none;}
  .form img{ vertical-align: middle;}
    .form label input.capcha{width: 497px;  }
    .form .focused{border-width:2px; }
  .form .note{font-style: italic; padding: 5px 0;}
  .form .submit{color:inherit; font-size:inherit; }

.news-wrap{padding:0; border:none; background:none; font-size:100%;}
.news-i div.data{float:none; font-size:100%; width:auto;}
.news-i p.data ,div.text p{color: inherit;font-size: 100%;}
.news-i p{color: inherit; font-size:100%;}
.news-i div.news-text {margin:5px 0; width:auto;}
.news-i p a{color: inherit;font-size: 120%;}

.feedback input.submit {
    background: none;
    border: 1px solid;
    border-radius: 15px;
    color: inherit;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 120%;
    height: auto;
    margin: 10px 0;
    padding: 2px 20px 3px;
    position: relative;
    width: auto;
}

.foo .dextra a{color:inherit;}

a.more{display:inline; font-size:100%; margin:0;}

.scrollto{float:right; margin-right:15px; color:#D51111; text-decoration:none; border-bottom:1px dashed #D51111;}
.scrollto:hover{border-bottom:none;}

.color1 .foo p, .color1  p{ color:#000;}
.color2 .foo p, .color2  p{ color:#FFF;}
.color3 .foo p, .color3  p{ color:#063462;}
.color4 .foo p, .color4  p{ color:#4D4B43;}
.color5 .foo p, .color5  p{ color:#A9E44D;}

.photo-wr{margin:15px 0;}
/* .photo-i { display: block; margin: 15px 0; text-align: center;  width: auto; } */
.photo-i p,.photo-i a p.tit{text-align:left; font-size:100%; color:inherit;}

.slovar-wr a {font-size:100%;}
.slovar-wr a.current {text-decoration:none; background:none; color:inherit;}
.color1 .slovar-wr a.current{background-color:#000; border:1px solid #000; color:#FFF !important;}
.color2 .slovar-wr a.current{background-color:#FFF; border:1px solid #FFF; color:#000 !important;}
.color3 .slovar-wr a.current{background-color:#063462; border:1px solid #063462; color:#7DB7E7 !important;}
.color4 .slovar-wr a.current{background-color:#4D4B43; border:1px solid #4D4B43; color:#F7F3D6 !important;}
.color5 .slovar-wr a.current{background-color:#A9E44D; border:1px solid #A9E44D; color:#3B2716 !important;}

p.px14 {
    color: inherit;
    font-size: 120%;
    margin: 3px 0 10px;
}


.foo-wr{height:auto;}
.foo{border-top:1px solid; font-size:100%; height:auto;}
.foo p{font-size:100%;}
.foo .count{display:none;}
.foo .copy,
.foo .faddr,
.foo .dextra
{position:static; left:auto; padding:0;}

div.text ul li {color:inherit;}

.res-search li a {font-size:120%;}
.res-search li p {margin:3px 0 10px;}

.opros-wr{display:none;}

.pagi li{list-style:none;}

div.text ol li {
    color: inherit;
    line-height: normal;
}

.pagi li a {
  color:inherit !important;
}
.color1 .pagi li.current a{background-color:#000; border:1px solid #000; color:#FFF !important;}
.color2 .pagi li.current a{background-color:#FFF; border:1px solid #FFF; color:#000 !important;}
.color3 .pagi li.current a{background-color:#063462; border:1px solid #063462; color:#7DB7E7 !important;}
.color4 .pagi li.current a{background-color:#4D4B43; border:1px solid #4D4B43; color:#F7F3D6 !important;}
.color5 .pagi li.current a{background-color:#A9E44D; border:1px solid #A9E44D; color:#3B2716 !important;}

h1, h2, h3, h4{line-height:110%;}

.feedback label {color:inherit; font-size:100%; padding:0 10px 0 0; width:120px;}
 .feedback input.text, .feedback textarea {color:inherit; font-size:100%; border:1px solid; background-color:inherit; width:500px;}
input.text.captcha {width:400px;}
.color1 h1, .color1 h2, .color1 h3, .color1 h4, .color1 h5, .color1 h6{ color:#000;}
.color2 h1, .color2 h2, .color2 h3, .color2 h4, .color2 h5, .color2 h6{ color:#FFF;}
.color3 h1, .color3 h2, .color3 h3, .color3 h4, .color3 h5, .color3 h6{ color:#063462;}
.color4 h1, .color4 h2, .color4 h3, .color4 h4, .color4 h5, .color4 h6{ color:#4D4B43;}
.color5 h1, .color5 h2, .color5 h3, .color5 h4, .color5 h5, .color5 h6{ color:#A9E44D;}

.clearfix:after {   content: ".";   display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix {     display: inline-block; }
html[xmlns] .clearfix {     display: block; }
* html .clearfix {  height: 1%; }

